<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles/bootstrap.min.css"> -->
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
<body ng-app="LunchCheck" ng-controller="LunchCheckController">
   <div class="container">
     <h1>Lunch Checker</h1>
  

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="totDish"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkResult(totDish)">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <h1>{{msg}}</h1>
         </div>
   </div>
 <script src="app.js"></script> 

<!-- <script>
    var LunchCheck = angular.module('LunchCheck', []);
    LunchCheck.controller('LunchCheckController', ["$scope", function($scope){
    $scope.totDish = 7;
    $scope.msg = "Let US See";
    $scope.checkResult = function (totFoood){

        var totFoodNum =  totFoood.split(",").length;
        $scope.msg = "checking.....!";

          if(totFoodNum < 4){
            $scope.msg = "Enjoy!";
          }
          else{
            $scope.msg = "Too much!";
          }
    }

}])

</script> -->
</body>
</html>